langgraph
langsmith
python-dotenv
ipykernel
langchain
langchain-core
langchain-community
langchain_text_splitters
langchain_tavily
langchain-openai
langchain-groq
langchain-google-genai
langchain_ollama
langchain-mcp-adapters
mcp
pypdf
pymupdf
tdqm
sentence-transformers
faiss-cpu
chromadb